<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Form Donatur</h1>
	<form action="tambah" method="post">
	  <p>Nama: <input type="text" id = "nama" name = "nama"/></p>
      <p>Email: <input type="text" id = "email" name = "email"/></p>
      <p>Phone: <input type="text" id = "phone" name = "phone"/></p>
      <p>Total Donasi: <input type="text" id = "total" name = "total"/></p>
      <p>Anonim: <input type="text" id = "anonim" name = "anonim"/></p>
	  <button type="submit">Submit</button>
	</form>
</body>
</html>