<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Edit Payment</h1>
	
	<form action="#" th:action="@{kategoriUpdate/{id}(id=${event.id})}"  th:object="${event}" method="post">
		<input type="hidden" th:field="*{id}" id="id" name="id"/><br>  
	    <label for="name">Event</label><br>
	    <input type="text" th:field="*{name}" id="name" name="name"/><br>
    	<button type="submit">Update</button> 
	</form>
</body>
</html>