<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>Ini Kategori</h1>
	<a href="kategoriAdd">Tambah</a><br>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Event</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="event : ${list}">
	            <td th:text="${event.id}"></td>
	            <td th:text="${event.name}"></td>
	            <td>
	            	<a th:href="@{kategoriDelete(id=${event.id})}">Hapus</a>
	            	<a th:href="@{kategoriEdit(id=${event.id})}">Edit</a>
	            </td>
            </tr>
		</tbody>
	</table>
	
</body>
</html>